---
layout: default
navtitle: CV
title: Curriculum Vitae
group: navigation
navorder: 1
cvDownloadUrl: /downloads/CV-Svetlozar-Kostadinov.pdf
avatarUrl: /assets/avatar.jpg
qrImageUrl: /assets/qr.png
---
<link rel="stylesheet" type="text/css" href="/css/button.css" />
<link rel="stylesheet" type="text/css" href="/css/timeline.css" />

<h2 id="title">{{ page.title }}</h2>

<div class="cv">

	<div class="cvsection cvdownload">
		<div class="cvcontent">
			<h3 class="title"><p>PDF FORMAT</p></h3>
			<a href="{{ page.cvDownloadUrl }}" class="btn btn-3 btn-3e icon-download" download>Download CV</a>
		</div>
	</div>

	<div class="cvsection cvinfo">
		<div class="cvcontent">
			<h3 class="title"><p>General Info</p></h3>
			<ul class="fa-ul">
				<li class="user"><i class="fa-li fa fa-user color2" aria-hidden="true"></i><strong>Name</strong>: Svetlozar Kostadinov</li>
				<li class="location"><i class="fa-li fa fa-map-marker color2" aria-hidden="true"></i><strong>Location</strong>: Sofia, Bulgaria</li>
				<li class="nationality"><i class="fa-li fa fa-globe color2" aria-hidden="true"></i><strong>Nationality</strong>: Bulgarian</li>
				<li class="born"><i class="fa-li fa fa-birthday-cake color2" aria-hidden="true"></i><strong>Born</strong>: 18 April, 1983</li>
				<li class="language"><i class="fa-li fa fa-language color2" aria-hidden="true"></i><strong>Languages:</strong>
					<ul class="fa-ul">
						<li>Bulgarian (native)</li>
						<li>English (technical)</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>

	<div class="cvsection cvphoto">
		<div class="cvcontent">
			<h3 class="title"><p>Photo</p></h3>
			<img src="{{ page.avatarUrl }}" alt="Me"/>
		</div>
	</div>

	<div id="contacts" class="cvsection cvcontacts">
		<div class="cvcontent">
			<h3 class="title"><p>Contacts</p></h3>
			<ul class="fa-ul">
				<li class="phone"><i class="fa-li fa fa-phone color2" aria-hidden="true"></i><a href="tel:+359899946333">+359 8 999 46 333</a></li>
				<li class="email"><i class="fa-li fa fa-envelope color2" aria-hidden="true"></i><a href="mailto: sv.kostadinoff@gmail.com">sv.kostadinoff@gmail.com</a></li>
				<li class="website"><i class="fa-li fa fa-globe color2" aria-hidden="true"></i><a href="https://sevar83.github.io" target="_blank">https://sevar83.github.io</a></li>
				<li class="github"><i class="fa-li fa fa-github color2" aria-hidden="true"></i><a href="http://github.com/sevar83" target="_blank">github.com/sevar83</a></li>
				<li class="stackoverflow"><i class="fa-li fa fa-stack-overflow color2" aria-hidden="true"></i><a href="https://stackoverflow.com/users/458668" target="_blank">@sevar83</a></li>
			</ul>
		</div>
	</div>

	<div class="cvsection cvqrcode">
		<div class="cvcontent">
			<h3 class="title"><p>V-Card</p></h3>
			<p><small>Scan with a <a href="https://play.google.com/store/apps/details?id=app.qrcode" >QR Reader app</a> to get my contact info in your phone:</small></p>
			<img src="{{ page.qrImageUrl }}" alt="Contact Info QR"/>
		</div>
	</div>

	<div class="cvsection cveducation">
		<div class="cvcontent">
			<h3 class="title"><p>Education</p></h3>
			<ul class="fa-ul">
				<li class="bsc"><i class="fa-li fa fa-graduation-cap color2" aria-hidden="true"></i>BSc in Computer Sciences - Technical University of Varna</li>
			</ul>
		</div>
	</div>

	<div class="cvsection cvpersonality">
		<div class="cvcontent">
			<h3 class="title"><p>Personality</p></h3>
			<ul>
				<li>Strong ability to self-motivate;</li>
				<li>Enjoys friendly teamwork but can also work and solve problems fully autonomously;</li>
				<li>Fast learner, loves to acquire new skills and develop existing ones;</li>
				<li>Tries to keep up with latest trends in technology and IT market;</li>
				<li>Has keen attention to detail;</li>
				<li>Loyal and word keeping;</li>
				<li>Challenge-driven;</li>
				<li>Favorite things: coffee, reading, sea diving, ski, cycling;</li>
			</ul>
		</div>
	</div>

	<div class="cvsection cvtechskills">
		<div class="cvcontent">
			<h3 class="title"><p>Technical Skills</p></h3>
			<ul>
				<li><strong>Programming Languages:</strong> Java (advanced), Kotlin (advanced), C/C++ (old, not practiced recently);</li>
				<li><strong>Other Languages:</strong> SQL, HTML, XML, XSLT, CSS;</li>
				<li><strong>Mobile Technologies:</strong> Android SDK, Android NDK, Location, Camera, Notifications, Google Maps, Sensors, Media;</li>
				<li><strong>RDBMS &amp; ORM:</strong> SQLite, Spatialite, GreenDAO;</li>
				<li><strong>Debugging tools:</strong> DDMS, Logcat, Stetho, Timber, LeakCanary, ACRA, Crashlytics, Eclipse MAT;</li>
				<li><strong>Testing tools:</strong> jUnit, Mockito, Espresso, UIAutomator;</li>
				<li><strong>Version Control Systems:</strong> Git, Mercurial;</li>
				<li><strong>IDE:</strong> Eclipse, Android Studio, Intellij IDEA, Visual Studio, Atom;</li>
				<li><strong>Operating Systems:</strong> Ubuntu Linux, Windows;</li>
			</ul>
		</div>
	</div>

	<div class="cvsection cvnicheskills">
		<div class="cvcontent">
			<h3 class="title"><p>Niche &amp; Other Skills</p></h3>
			<ul>
				<li><strong>Geospatial:</strong> Maps, Map projections, geodetic datum transformations, Proj4, Spatialite, Georeferencing, Hands-on experience with WFS, WMS web services, GeoServer, GeoNode, Django, MBTiles, GeoJSON, TopoJSON;</li>
				<li><strong>Graphics and geometry:</strong> 2D and 3D analytic geometry, CAD, OpenGL, Direct3D (basic, old);</li>
				<li><strong>Web:</strong> Jekyll, WordPress, Xoops, Drupal, website administration &amp; CMS management;</li>
				<li><strong>Multimedia:</strong> Inkscape, Photoshop;</li>
			</ul>
		</div>
	</div>
</div>

<div class="cvsection cvexperience">
	<div class="cvcontent">
		<h3 class="title"><p>Experience</p></h3>
	</div>

	<!-- Strictly speaking, this should be in the cvcontent div above -->
	<ul class="cbp_tmtimeline">

		{% assign sections = site.timeline | sort: 'weight' %}
		{% for section in sections %}
			<li>
				<div class="cbp_tmduration">
					{% assign month = section.since | split: "," | first %}
					{% assign year  = section.since | split: "," | last %}
					<time class="cbp_tmtime">
						{% if month %} <span>{{ month }}</span> {% endif %}
						{% if year  %} <span>{{ year  }} - </span> {% endif %}
					</time>

					{% assign month = section.until | split: "," | first %}
					{% assign year  = section.until | split: "," | last %}
					<time class="cbp_tmtime">
						{% if month %} <span>{{ month }}</span> {% endif %}
						{% if year  %} <span>{{ year  }}</span> {% endif %}
					</time>
				</div>
				<div class="cbp_tmicon"><img src="/assets/icons/{{ section.icon }}" /></div>
				<div class="cbp_tmlabel">
					<h3>{{ section.title }}</h3>

					{% if section.subtitle %}
						<p class="cbp-ig-subtitle">{{ section.subtitle }}</p>
					{% endif %}

					{% if section.content %}
						<p>{{ section.content }}</p>
					{% endif %}
				</div>
			</li>
		{% endfor %}

	</ul>
</div>
